[submodule "Winternals"]
	path = Winternals
	url = https://github.com/IcarusResearch/Winternals.git
[submodule "WIL"]
	path = WIL
	url = https://github.com/microsoft/wil.git
[submodule "AsmJit"]
	path = AsmJit
	url = https://github.com/asmjit/asmjit.git
